{% extends 'base.html' %}
{% load static %}


{% block content %}
	<!-- start banner Area -->
	<section class="banner-area">
		<div class="container">
			<div class="row fullscreen align-items-center justify-content-start">
				<div class="col-lg-12">
					<div class="active-banner-slider owl-carousel">
						<!-- bitta slayd -->
						<div class="row single-slide align-items-center d-flex">
							<div class="col-lg-5 col-md-6">
								<div class="banner-content">
									<h1>Nike’ning Yangi <br>To‘plami!</h1>
									<p>Sportda yangi marralarni egallashni xohlaysizmi? Bizning yangi Nike kolleksiyamiz bilan qulaylik va uslub birlashtirildi. Har bir qadamingizda ishonchni his eting!</p>
									<div class="add-bag d-flex align-items-center">
										<a class="add-btn" href=""><span class="lnr lnr-cross"></span></a>
										<span class="add-text text-uppercase">Savatga qo‘shish</span>
									</div>
								</div>
							</div>
							<div class="col-lg-7">
								<div class="banner-img">
									<img class="img-fluid" src="{% static 'img/banner/banner-img.png' %}" alt="">
								</div>
							</div>
						</div>

						<!-- bitta slayd -->
						<div class="row single-slide">
							<div class="col-lg-5">
								<div class="banner-content">
									<h1>Nike’ning Yangi <br>To‘plami!</h1>
									<p>Harakatga tayyormisiz? Nike sizga faqat sport kiyimi emas, balki motivatsiya, energiya va g‘alaba ruhi hadya qiladi. Hozir buyurtma bering — yangi o‘zligingizni kashf qiling!</p>
									<div class="add-bag d-flex align-items-center">
										<a class="add-btn" href=""><span class="lnr lnr-cross"></span></a>
										<span class="add-text text-uppercase">Savatga qo‘shish</span>
									</div>
								</div>
							</div>
							<div class="col-lg-7">
								<div class="banner-img">
									<img class="img-fluid" src="{% static 'img/banner/banner-img.png' %}" alt="">
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->

	<!-- Xususiyatlar (features) bo‘limi boshlanishi -->
	<section class="features-area section_gap">
		<div class="container">
			<div class="row features-inner">
				<!-- Bitta xususiyat -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="{% static 'img/features/f-icon1.png' %}" alt="">
						</div>
						<h6>Bepul yetkazib berish</h6>
						<p>Butun O‘zbekiston bo‘ylab bepul yetkazib beramiz</p>
					</div>
				</div>
				<!-- Bitta xususiyat -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="{% static 'img/features/f-icon2.png' %}" alt="">
						</div>
						<h6>Qaytarish siyosati</h6>
						<p>Buyurtma mos kelmasa, 7 kun ichida qaytarish mumkin</p>
					</div>
				</div>
				<!-- Bitta xususiyat -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="{% static 'img/features/f-icon3.png' %}" alt="">
						</div>
						<h6>24/7 Qo‘llab-quvvatlash</h6>
						<p>Har doim siz uchun onlayn yordam</p>
					</div>
				</div>
				<!-- Bitta xususiyat -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="{% static 'img/features/f-icon4.png' %}" alt="">
						</div>
						<h6>Xavfsiz to‘lov</h6>
						<p>To‘lovlaringiz zamonaviy texnologiyalar bilan himoyalangan</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Xususiyatlar (features) bo‘limi tugadi -->


	<!-- Kategoriya bo‘limi boshlanishi -->
	<section class="category-area">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8 col-md-12">
					<div class="row">
						<div class="col-lg-8 col-md-8">
							<div class="single-deal">
								<div class="overlay"></div>
								<img class="img-fluid w-100" src="{% static 'img/category/c1.jpg' %}" alt="">
								<a href="{% static 'img/category/c1.jpg' %}" class="img-pop-up" target="_blank">
									<div class="deal-details">
										<h6 class="deal-title">Sport uchun engil poyabzallar</h6>
									</div>
								</a>
							</div>
						</div>
						<div class="col-lg-4 col-md-4">
							<div class="single-deal">
								<div class="overlay"></div>
								<img class="img-fluid w-100" src="{% static 'img/category/c2.jpg' %}" alt="">
								<a href="{% static 'img/category/c2.jpg' %}" class="img-pop-up" target="_blank">
									<div class="deal-details">
										<h6 class="deal-title">Yengil kundalik kiyimlar</h6>
									</div>
								</a>
							</div>
						</div>
						<div class="col-lg-4 col-md-4">
							<div class="single-deal">
								<div class="overlay"></div>
								<img class="img-fluid w-100" src="{% static 'img/category/c3.jpg' %}" alt="">
								<a href="{% static 'img/category/c3.jpg' %}" class="img-pop-up" target="_blank">
									<div class="deal-details">
										<h6 class="deal-title">Juftliklar uchun maxsus kolleksiya</h6>
									</div>
								</a>
							</div>
						</div>
						<div class="col-lg-8 col-md-8">
							<div class="single-deal">
								<div class="overlay"></div>
								<img class="img-fluid w-100" src="{% static 'img/category/c4.jpg' %}" alt="">
								<a href="{% static 'img/category/c4.jpg' %}" class="img-pop-up" target="_blank">
									<div class="deal-details">
										<h6 class="deal-title">Faol hayot uchun zamonaviy kiyimlar</h6>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-deal">
						<div class="overlay"></div>
						<img class="img-fluid w-100" src="{% static 'img/category/c5.jpg' %}" alt="">
						<a href="{% static 'img/category/c5.jpg' %}" class="img-pop-up" target="_blank">
							<div class="deal-details">
								<h6 class="deal-title">Sportchi yoshlarga mos poyabzallar</h6>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Kategoriya bo‘limi tugadi -->


>

	<!-- Start brand Area -->
	<section class="brand-area section_gap">
		<div class="container">
			<div class="row">
				<a class="col single-img" href="#">
					<img class="img-fluid d-block mx-auto" src="img/brand/1.png" alt="">
				</a>
				<a class="col single-img" href="#">
					<img class="img-fluid d-block mx-auto" src="img/brand/2.png" alt="">
				</a>
				<a class="col single-img" href="#">
					<img class="img-fluid d-block mx-auto" src="img/brand/3.png" alt="">
				</a>
				<a class="col single-img" href="#">
					<img class="img-fluid d-block mx-auto" src="img/brand/4.png" alt="">
				</a>
				<a class="col single-img" href="#">
					<img class="img-fluid d-block mx-auto" src="img/brand/5.png" alt="">
				</a>
			</div>
		</div>
	</section>
	<!-- End brand Area -->

	<!-- Start related-product Area -->
	<section class="related-product-area section_gap_bottom">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6 text-center">
					<div class="section-title">
						<h1>Deals of the Week</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
							magna aliqua.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-9">
					<div class="row">
						{% for product in latest_products %}
						<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
							<div class="single-related-product d-flex">
								<a href="#"><img width="150px" src="{{ product.get_cover_image }}" alt=""></a>
								<div class="desc">
									<a href="#" class="title">{{ product.name }}</a>
									<div class="price">
										<h6>${{ product.discount_price }}</h6>
										<h6 class="l-through">${{ product.price }}</h6>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
				<div class="col-lg-3">
					<div class="ctg-right">
						<a href="#" target="_blank">
							<img class="img-fluid d-block mx-auto" src="img/category/c5.jpg" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End related-product Area -->

	{% endblock content %}